@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{/* Varables for color pallet*/
    --base-color: #22374e;
    --line-color: #4c5b79;
    --hover-color: #1A3D64;
    --text-color: #F4F4F4;
    --accent-color: #2a7ea1;
    --secondary-text-color: #949baf;
}

/*Style Html Elements*/
*{
    margin:0;
    padding:0;
}
html{
    font-family: Montserrat;
    line-height: 24px;
}
body{
    min-height: 100vh;
    background-color: var(--base-color); /*Assigned Variable*/
    color: var(--text-color);/*Assigned Variable*/
    display: grid;/*Define grid layout of website.*/
    grid-template-columns: auto 1fr; /* The side bar will scale automatically. The other column is 1fr*/
}

/*Sidebar Style Content*/
#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 16px;/*Top-bottom Left-Right*/
    background-color: var(--base-color);
    border-right: 1px solid var(--line-color);/*Only cause a border to the right of the column*/

    /* Fix posotion of the side bar*/
    position:sticky;
    top: 0;
    align-self: start;
}
#sidebar ul{
    list-style: none;
}
#sidebar>ul>li:first-child{/*Flexbox for logo and open or close sidebar*/
    display:flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{/*Adjust logo font weight*/
        font-weight: 600;
    }
    #adjust-size{ /*Adjust size of the logo icon*/
        height: 30px;
        width: 30px;
    }
}
#sidebar ul li.active a{ /*Color displaying current active location in website.*/
    color: var(--accent-color);/*Color Text*/
    font-weight: 800;
    svg{/*Color the icon logo of the ACTIVE icon*/
        fill: var(--accent-color);
    }
}
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{/*Adjusting only the sidebar of texts(a), toggle, and dropdown*/
    border-radius: 16px;
    padding: 10px;
    text-decoration:none;
    color: var(--text-color);
    display: flex;
    align-content:center;
    gap: 16px; /*Controls gap between icon and text*/
}
#sidebar svg{ /*Make changes to ALL svg icons*/
    flex-shrink: 0; /*Prevent distortion in sizes*/
    fill: var(--text-color);
}
#sidebar a span, #sidebar .dropdown-btn span{ /* Style spans for dropdown, and texts(a)*/
    flex-grow: 1; /*Push the dropdown icon to the edge.*/
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{ /*HOVER for text(a) and the dropdown*/
    background-color: var(--hover-color);
}

main{
    padding: min(30px, 7%);
}
main p{
    color: var(--secondary-text-color);
    margin-top: 5px;
    margin-bottom: 15px;
}

/*Classes for menu options*/
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
.container{/*Style container for making bordered boxes*/
    border: 2px solid var(--line-color);
    border-radius: 10px;/*Curve the edges of the border*/
    margin-bottom: 20px;
    padding: min(64px, 15%);
    height: 100vh;

    h2, p{margin-top: 10px;}
}
